@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 197, 197);
}
header{
    background-color: rgb(120, 0, 233);
    padding:40px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    border-bottom: 2px solid rgb(78, 0, 151);
}
h1{
    color: rgb(255, 255, 255);
    background-color: transparent;
}
article{
    max-width: 600px;
    height: fit-content;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.267);
}
h2{
    background-color: transparent;
    padding-bottom: 20px;
    color: rgb(73, 73, 73);
}
p{
    text-align: justify;
    background-color: transparent;
    padding-bottom: 20px;
    color: rgb(73, 73, 73);
}
footer{
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.267);
}
footer > p{
    background-color: gray;
    text-align: center;
    padding-top: 15px;
    color: white;
}
footer > p > a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.1em;
}
