@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 197, 197);
}
header{
    background-image: linear-gradient(to bottom, rgb(0, 96, 221), rgb(0, 23, 138));
    padding:40px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    border-bottom: 2px solid rgb(0, 0, 0);
}
h1{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-shadow: 2px 2px 4px black;
}
article{
    max-width: 600px;
    height: fit-content;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.267);
}
h2{
    background-color: transparent;
    padding-bottom: 20px;
    color: rgb(73, 73, 73);
}
p{
    text-align: justify;
    background-color: transparent;
    padding-bottom: 20px;
    color: rgb(73, 73, 73);
}
div{
    padding-top: 15px;
    font-size: 2em;
    background-color: white;
    font-weight: bold;
    color: rgb(0, 77, 192);
}
footer{
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.267);
}
footer > p{
    background-color: gray;
    text-align: center;
    padding-top: 15px;
    color: white;
}
footer > p > a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.1em;
}
